<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="a_bot">
  <!-- import macro -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find hrvip_bringup)/urdf/d415_mount_macro.xacro"/>

  <!-- parameters -->
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="robot_ip" default="0.0.0.0" />
  <xacro:arg name="reverse_ip" default="0.0.0.0"/>
  <xacro:arg name="headless_mode" default="false" />
  <!--   tool communication related parameters-->
  <xacro:arg name="use_tool_communication" default="true" />
  <xacro:arg name="tool_voltage" default="24" />
  <xacro:arg name="tool_device_name" default="/tmp/ttyUR" />
  <xacro:arg name="tool_tcp_port" default="54321" />
  <!-- Simulation parameters -->
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <!-- initial position for simulations (Fake Hardware, Gazebo, Ignition) -->
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>
  <!-- convert to property to use substitution in function -->
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>  

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- arm -->
  <xacro:ur_robot
    name="ur5e"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
    kinematics_parameters_file="$(find hrvip_bringup)/config/a_bot_calibration.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    initial_positions="${xacro.load_yaml(initial_positions_file)}"
    use_tool_communication="$(arg use_tool_communication)"
    tool_voltage="$(arg tool_voltage)"
    tool_device_name="$(arg tool_device_name)"
    tool_tcp_port="$(arg tool_tcp_port)"
    robot_ip="$(arg robot_ip)"
    reverse_ip="$(arg reverse_ip)"
    headless_mode="$(arg headless_mode)"
    generate_ros2_control_tag="true"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
  </xacro:ur_robot>

  <xacro:d415_mount
    prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)wrist_3_link"
    include_camera="true"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:d415_mount>

  <xacro:robotiq_gripper 
    name="RobotiqGripperHardwareInterface" 
    com_port="$(arg tool_device_name)"
    prefix="$(arg tf_prefix)" 
    parent="$(arg tf_prefix)d415_mount_attach_link" 
    include_ros2_control="true"
    use_fake_hardware="$(arg use_fake_hardware)" 
    fake_sensor_commands="$(arg fake_sensor_commands)"
    grasp_link_offset="0.15"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_gripper>
  

</robot>