<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a_bot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import a_bot urdf file -->
    <xacro:include filename="$(find hrvip_bringup)/urdf/a_bot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="a_bot.ros2_control.xacro" />


    <xacro:a_bot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
